# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.venv/

# Distribution/packaging
dist/

# Coverage
.coverage
htmlcov/
tests/results.xml

# Caches
.*_cache/

# Editors
*~
.*.sw?

# Logs
*.log

# Databases
*.db
*.sqlite
*.sqlite3

# Mkdocs
/site/

# Other
*.orig
*.bak
master.key
